:root {
  --primary-100: #00ff41;
  --primary-200: #00df18;
  --primary-300: #009700;
  --accent-100: #f700ff;
  --accent-200: #830091;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #1f1f1f;
  --bg-200: #2e2e2e;
  --bg-300: #464646;
}

.nav {
  background-color: #000f00;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.random {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 6px;
  background-color: var(--accent-200);
  color: var(--text-100);
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  margin-right: 10px;
}

.random:hover {
  background-color: var(--accent-100);
}

.image {
  border-radius: 50%;
}
