:root {
  --primary-100: #00ff41;
  --primary-200: #00df18;
  --primary-300: #009700;
  --accent-100: #f700ff;
  --accent-200: #830091;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #1f1f1f;
  --bg-200: #2e2e2e;
  --bg-300: #464646;
}
.grid {
  display: grid;
  grid-template-areas:
    "head head"
    "img form "
    "img form ";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  column-gap: 0;
}

.head {
  grid-area: head;
}

.container {
  grid-area: form;
}
.portada {
  grid-area: img;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(to right, var(--primary-300), var(--primary-200));
  padding: 34px;
}

.formSignUp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(to right, var(--accent-200), var(--bg-200));
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.login {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 20px;
}

.signUp {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: 25px;
  margin-bottom: 6px;
  border-radius: 10px;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 19px;
  font-weight: bold;
  color: var(--primary-300);
}

.btnSU {
  margin-top: 25px;
  margin-bottom: 6px;
  border-radius: 10px;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 19px;
  font-weight: bold;
  color: var(--accent-200);
}

.btnToggle {
  margin-bottom: 6px;
  border-radius: 10px;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-300);
}

.btnToggleSU {
  margin-bottom: 6px;
  border-radius: 10px;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
  color: var(--accent-200);
}

.label {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  color: var(--text-200);
  margin-top: 20px;
  margin-bottom: 5px;
}

.btn:hover {
  color: var(--primary-100);
  background-color: var(--bg-200);
  box-shadow: 2px 2px 12px var(--primary-100);
}

.btnSU:hover {
  color: var(--accent-100);
  background-color: var(--bg-200);
  box-shadow: 2px 2px 12px var(--accent-100);
}

.btnToggleSU:hover {
  color: var(--accent-100);
  background-color: var(--bg-200);
  box-shadow: 2px 2px 12px var(--accent-100);
}

.btnToggle:hover {
  color: var(--primary-100);
  background-color: var(--bg-200);
  box-shadow: 2px 2px 12px var(--primary-100);
}

.input {
  height: 12px;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 2px 2px 12px inset var(--bg-200);
}

.color {
  color: white;
}

.errors {
  color: red;
  font-size: medium;
  font-style: italic;
  font-weight: bold;
}
