.unorderedList {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Crear columnas de tamaño mínimo de 200px */
  gap: 30px;
  list-style: none;
  justify-items: center;
  align-items: center;
  padding-right: 50px;
}

@media (max-width: 768px) {
  .unorderedList {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    flex-basis: 50%;
  }
}
