:root {
  --primary-100: #00ff41;
  --primary-200: #00df18;
  --primary-300: #009700;
  --accent-100: #f700ff;
  --accent-200: #830091;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #1f1f1f;
  --bg-200: #2e2e2e;
  --bg-300: #464646;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  gap: 20px; /* Espacio entre las columnas */
  padding: 50px;
  margin: 100px;
}

.texto {
  color: var(--text-100);
  background: linear-gradient(to left, var(--bg-200), var(--primary-300));
  box-shadow: 3px 3px 5px 5px var(--primary-100);
  align-items: center;
  justify-content: center;
}

.imagen {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #0cbaba, #380036, var(--accent-200));
  box-shadow: 3px 3px 5px 5px var(--accent-100);
}

.img {
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
}

.buttonFav {
  position: absolute;
  top: 220px;
  right: 170px;
  align-items: center;
  background-color: transparent;
  color: var(--bg-100);
  cursor: pointer;
  display: inline-block;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 0.5rem;
}

.flecha {
  position: absolute;
  top: 420px;
  right: 180px;
  align-items: center;
  background-color: transparent;
  color: var(--text-100);
  cursor: pointer;
  display: inline-block;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3rem;

  outline: 0;
  border: 0;
}

.flecha:hover {
  color: var(--primary-200);
}
